<h1 mat-dialog-title color="primary">
    <button mat-mini-fab mat-dialog-close #tooltip="matTooltip" matTooltip="Close" matTooltipPosition="below"
        color="primary">
        <mat-icon>close</mat-icon>
    </button>
    Notifications
</h1>

<div mat-dialog-content>
    <mat-tab-group>

        <mat-tab label="Notifications">
                
        </mat-tab>

        <mat-tab label="Settings">
            <mat-list>
                <div fxLayout="row wrap" fxLayoutGap="16px grid">

                    <mat-list-item>
                        Select project to subscribe:
                    </mat-list-item>
                    <mat-list-item>

                        <mat-form-field appearance="fill" class="example-form">
                            <mat-label>Project</mat-label>
                            <mat-select (selectionChange)="isValid()" [(ngModel)]="selected_project">

                                <mat-option *ngFor="let project of apiService.projects" [value]="project">
                                    {{project.name}}
                                </mat-option>
                                
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        Include subresources
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle class="example-margin" color=primary [(ngModel)]="subresources_checked"></mat-slide-toggle>
                    </mat-list-item>

                    <mat-list-item>
                        Get notifications for the chosen Project only from specified date:
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle class="example-margin" color=primary (change)="isValid()" [(ngModel)]="sub_from_date"></mat-slide-toggle>
                    </mat-list-item>

                    <mat-list-item *ngIf = "sub_from_date">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput (dateChange)="isValid()"[(ngModel)]="picked_date" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        <button mat-raised-button color="primary" [disabled]="notValid" (click)="send_subscription()">
                            Subscribe
                        </button>
                    </mat-list-item>

                </div>
            </mat-list>    
        </mat-tab>

    </mat-tab-group>
</div>